/*----------------------- CSS RESET ------------------------------*/

/* --------------------  Box sizing rules -------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------Remove default margin --------------------- */
body,h1,p
{
  margin: 0;
}

/* ----------------------- Set core root defaults ----------------------- */
html:focus-within {
  scroll-behavior: smooth;
}

/* ------------------------ Set core body defaults -------------------- */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* --------------------- Make images easier to work with ------------------------ */
img {
  max-width: 100%;
  display: block;
}

/* ---------------------- Inherit fonts for buttons ------------------- */
button {
  font: inherit;
}

/* ------------ Remove all smooth scroll for people that prefer not to see them ----- */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
	 scroll-behavior: auto;
	}
	
	*,
	*::before,
	*::after {
	  scroll-behavior: auto !important;
	}
}

/* -------------- VARIABLES ------------------ */
:root {
	--White:hsl(0, 0%, 100%);
	--Light-gray: hsl(212, 45%, 89%);
	--Grayish-blue: hsl(220, 15%, 55%);
	--Dark-blue: hsl(218, 44%, 22%);
  }
   

body {
	/*Align my box in the middle of the viewport with flex*/
	display: flex;
    justify-content: center;
    align-items: center;

	background-color: var(--Light-gray);
	font-family: 'Outfit', sans-serif;
	font-size: 0.9375rem;
}

.card {
	margin: 1rem;
	padding: 1rem 1rem 2.5rem 1rem;
	background-color: var(--White);
	border-radius: 20px;
	max-width: 20rem;
	text-align: center ;	 
}

.qr-code-image {
	border-radius: 10px;
}

.title {
	font-size: 1.375rem; 
	font-weight: 700;
	margin-block-start:1.5rem ;
	margin-block-end: 1rem ;
	color:var(--Dark-blue);
	line-height: 1.26;
}

.intro
{
	color:var(--Grayish-blue);
	line-height: 1.26;
	padding:0 1rem 0 1rem;
	font-weight:400;
}
